/* Your styles here */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
body {
  color: #393d41;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 1.2rem;
  line-height: 1.65rem;
  text-align: center;
}

h1,
h2 {
  font-weight: 700;
  color: #25a2c3;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 0.5rem 0;
  margin-top: 1rem;
}
h1 {
  font-size: 2em;
  line-height: 2.5rem;
}
p {
  padding: 1rem 2em;
}
strong {
  font-size: large;
}
li {
  list-style-type: none;
}

button {
  background-color: #f04c2f;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
  padding: 0.8rem 1.5rem;
  margin: 0.5rem;
  border: 0;
  border-radius: 5px;
}

header {
  text-align: left;
  background-color: black;
  padding: 1.5rem;
}
#banner {
  background-image: url(../img/banner.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  text-align: center;
  padding: 5rem;
  margin-bottom: 6rem;
}
main img {
  max-width: 90%;
  border-radius: 50%;
  text-align: center;
  margin: 1rem 0 1.5rem;
}
.box {
  width: 50%;
  display: inline-block;
  margin-right: -4px;
  box-sizing: border-box;
  font-size: medium;
  vertical-align: top;
}
.box2 {
  width: 33.33%;
  display: inline-block;
  margin-right: -4px;
  box-sizing: border-box;
  vertical-align: top;
}
.box p {
  padding: 0.3rem 0;
}
.wrapper {
  text-align: left;
  padding: 1.5rem 4rem;
  box-sizing: border-box;
}
/* SECTION */
section {
  margin: 6.5rem 0 1.5rem;
  padding: 4rem 6rem;
  background-color: #e22d0e;
  color: white;
  font-style: italic;
}
section h1 {
  color: white;
  margin-bottom: 0.5rem;
  font-size: x-large;
}
section div {
  font-style: normal;
  font-size: x-small;
  margin-top: 0.5rem;
}
/* ARTICLE*/
article {
  margin: 1rem;
  border: solid 1px #dee1e3;
  text-align: center;
  font-size: medium;
  min-height: 320px;
}
article img {
  border-radius: 0;
  max-width: 100%;
  margin: 0;
}
article p {
  padding: 0 0.3rem 1rem;
}
/* FOOTER*/
footer {
  background-color: #25a2c3;
  padding: 1.5rem;
  margin-top: 4rem;
  color: rgba(255, 253, 253, 0.452);
  font-size: medium;
}
footer h1 {
  color: white;
  margin: 1rem 0;
}
footer a {
  color: rgba(255, 253, 253, 0.452);
}
footer ul li:nth-child(3) a {
  text-decoration: none;
}
footer div {
  width: fit-content;
  border-bottom: solid 2px #dee1e3;
  margin: 0 auto;
  padding-bottom: 1.5rem;
  text-align: left;
}
footer p {
  font-size: small;
  margin-top: 0.5rem;
}
